.lightbox{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.popup{
    position: absolute;
    background-color: white;
    -webkit-box-shadow: 0px 10px 30px 3px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 10px 30px 3px rgba(0,0,0,0.73);
    box-shadow: 0px 10px 30px 3px rgba(0,0,0,0.73);
}

.no-click{
    pointer-events: none;
}

.hide{
    display: none;
}

.button{
    cursor: pointer;
}

.popup-close{
    background-image: url(img/icons8-close-window-50.png);
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.disabled{
    opacity: 0.5;
    pointer-events: none;
}

.page-view{
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
    overflow: hidden;
}

.page-view.external{
    top: 0;
    bottom: 0;
}

.expand-header{
    height: auto;
}

label.required-field::after { 
    content: "*";
    color: red;
    margin-left:5px;
}

.collapse-header{
    height: 30px;
}

.header-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.blocker-lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 2;
}
.processing-icon {
    z-index: 4;
    position: fixed;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    width: 240px;
    height: 196px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../Images/loading.gif);
}